<!doctype html>
<html
	data-ng-app="Census"
	data-ng-controller="Controller"
	data-drop="addFile">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		
		<title>RPG Census</title>
		
		<script src="angular.js"></script>
		<script src="script.js" charset="utf-8"></script>
		
		<link rel="stylesheet" href="common.css">
		
		<link
			data-ng-repeat="theme in themes"
			rel="{{theme.rel}}"
			data-ng-href="{{theme.url}}"
			title="{{theme.title}}">
	</head>
	<body>
		<div class="content">
			<h1>RPG Census</h1>
			<form>
				<ul class="options">
					<li data-ng-if="databases.length > 1">
						<select
							data-ng-model="selected.database"
							data-ng-options="database.title for database in databases">
						</select>
					</li>
					<li data-ng-repeat="patternName in selected.database.patternNames">
						<input
							type="radio"
							name="pattern"
							value="{{patternName}}"
							id="pattern-{{patternName}}"
							data-ng-model="selected.database.selected.pattern"><!--
						--><label for="pattern-{{patternName}}">{{patternName}}</label>
					</li>
				</ul>
				<ul class="actions">
					<li>
						<button
							type="submit"
							data-ng-click="generateName(selected.database, selected.database.selected.pattern)"
							data-ng-disabled="lists.length == 0">{{buttonText}}</button>
					</li>
				</ul>
			</form>
			<ul class="names">
				<li data-ng-repeat="name in names.slice(0, 20)">{{name}}</li>
			</ul>
			<dl class="settings">
				<dt>Theme</dt>
				<dd>
					<select
						data-ng-options="theme.title for theme in themes"
						data-ng-model="selectedTheme">
					</select>
				</dd>
			</dl>
		</div>
	</body>
</html>