body {
	color: white;
	background-color: black;
}

body, button {
	font-family: Calibri, sans-serif;
}

h1 {
	font-family: Corbel, sans-serif;
	color: hsl(190, 100%, 50%);
	text-shadow: 0 0 1em hsl(190, 100%, 50%);
}

.options li {
	color: hsl(190, 100%, 50%);
	text-shadow: 0 0 1em hsl(190, 100%, 50%);
}

.names li {
	color: hsl(190, 100%, 50%);
	text-shadow: 0 0 1em hsl(190, 100%, 50%);
}