body {
	background-color: black;
	background-image: url('scanline.png');
	background-color: hsl(0, 0%, 10%);
	color: hsl(190, 100%, 50%);
	text-shadow: 0 0 1em hsl(190, 100%, 50%);
}

body, button, select {
	font-family: Calibri, sans-serif;
}

h1 {
	font-family: Corbel, sans-serif;
	text-shadow: 0 0 1em hsl(190, 100%, 50%);
}